node_modules
dist
build
coverage
.next
.nuxt
out

.cache
.temp
temp

.vscode
.idea

package-lock.json
yarn.lock
pnpm-lock.yaml

.env
.env.*

*.log

public/build

target
bin
obj

vendor

*.min.js
*.min.css

.DS_Store
